@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --font-family: Josefin Sans;
  --font-size-1: 18px;
  --font-size-2: 14px;
  --color-1: #9495a5;
  --color-2: #494c6b;
  --font-weight: 400;
  --font-size-3:12px;
}

.wrapper {
  background: #fafafa;
  background: #e3e4f1;
}

.container {
  padding: 0 24px;
  width: 100%;
  max-width: 588px;
  margin: 0 auto;
}

header {
  width: 100%;
  background-image: url(/crs/img/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
header .container {
  padding: 70px 24px 49px 24px;
  width: 100%;
  max-width: 588px;
  margin: 0 auto;
}
header .container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section {
  position: relative;
  top: -150px;
}
section .container .search {
  max-width: 540px;
  height: 64px;
  padding: 20px 24px;
  -webkit-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5019607843);
          box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5019607843);
  background: #ffffff;
  margin-bottom: 44px;
}
section .container .search input {
  width: 100%;
  border: none;
  outline: none;
  font-family: var(--font-family);
  font-size: var(--font-size-1);
  color: var(--color-1);
  font-weight: var(--font-weight);
}
section .container .section-part {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5019607843);
          box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5019607843);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1ps solid red;
  padding: 20px 24px;
  margin-bottom: 2px;
  gap: 24px;
  color: var(--color-2);
  cursor: pointer;
}
section .container .section-part p {
  font-family: var(--font-family);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight);
  color: var(--color-2);
}
section .container .section-part checkbox {
  background: none;
}
section .part {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5019607843);
          box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5019607843);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1ps solid red;
  padding: 20px 24px;
  margin-bottom: 2px;
  gap: 24px;
}
section .part p {
  font-family: var(--font-family);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight);
  color: #D1D2DA;
  opacity: 30%;
}
section .center-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Josefin Sans;
  font-size: var(--font-size-2);
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.1944444478px;
  text-align: left;
  color: var(--color-1);
  gap: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
section .center-part .text-blue {
  color: #3A7CFD;
}
section .parts {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5019607843);
          box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5019607843);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1ps solid red;
  padding: 20px 24px;
  margin-bottom: 49px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
section .parts p {
  font-family: Josefin Sans;
  font-size: var(--font-size-2);
  font-weight: var(--font-weight);
  line-height: 14px;
  letter-spacing: -0.1944444478px;
  text-align: left;
  color: var(--color-1);
  cursor: pointer;
}
section .parts .section-part-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Josefin Sans;
  font-size: var(--font-size-2);
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.1944444478px;
  text-align: left;
  color: #9495A5;
  gap: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .parts .section-part-center .text-blue {
  color: #3A7CFD;
}
section .parts .section-part-center .hover {
  cursor: pointer;
}
section .parts .section-part-center .hover:hover {
  color: #494C6B;
}
section p {
  width: 100%;
  text-align: center;
  font-family: var(--font-family);
  font-size: var(--font-size-2s);
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.1944444478px;
  text-align: center;
  color: var(--color-1);
}

@media (max-width: 510px) {
  .wrapper {
    background: #fafafa;
    background: #e3e4f1;
  }
  .container {
    padding: 0 24px;
    width: 100%;
    max-width: 327px;
    margin: 0 auto;
  }
  header {
    width: 100%;
    background-image: url(/crs/img/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  header .container {
    padding: 70px 24px 49px 24px;
    width: 100%;
    max-width: 343px;
    margin: 0 auto;
  }
  header .container .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section {
    position: relative;
    top: -150px;
  }
  section .container .search {
    max-width: 540px;
    height: 64px;
    padding: 20px 24px;
    -webkit-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5019607843);
            box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5019607843);
    background: #ffffff;
    margin-bottom: 44px;
  }
  section .container .search input {
    width: 100%;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-size: var(--font-size-3);
    color: var(--color-1);
    font-weight: var(--font-weight);
  }
  section .container .section-part {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #ffffff;
    -webkit-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5019607843);
            box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5019607843);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1ps solid red;
    padding: 20px 24px;
    margin-bottom: 2px;
    gap: 24px;
    color: var(--color-2);
  }
  section .container .section-part p {
    font-family: var(--font-family);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight);
    color: var(--color-2);
  }
  section .container .section-part checkbox {
    background: none;
  }
  section .center-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Josefin Sans;
    font-size: var(--font-size-2);
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.1944444478px;
    text-align: left;
    color: var(--color-1);
    gap: 18px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
    background: #ffffff;
    -webkit-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5019607843);
            box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5019607843);
    display: flex;
    border: 1ps solid red;
    margin-bottom: 40px;
    padding: 20px 24px;
  }
  section .part {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #ffffff;
    -webkit-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5019607843);
            box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5019607843);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1ps solid red;
    padding: 20px 24px;
    margin-bottom: 2px;
    gap: 12px;
  }
  section .part p {
    font-family: var(--font-family);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight);
    color: #D1D2DA;
    opacity: 30%;
  }
  section .parts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #ffffff;
    -webkit-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5019607843);
            box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5019607843);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1ps solid red;
    padding: 20px 24px;
    margin-bottom: 49px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 12px;
  }
  section .parts p {
    font-family: Josefin Sans;
    font-size: var(--font-size-3);
    font-weight: var(--font-weight);
    line-height: 14px;
    letter-spacing: -0.1944444478px;
    text-align: left;
    color: var(--color-1);
  }
  section .parts .section-part-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Josefin Sans;
    font-size: var(--font-size-3);
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.1944444478px;
    text-align: left;
    color: var(--color-1);
    gap: 18px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  section p {
    width: 100%;
    text-align: center;
    font-family: var(--font-family);
    font-size: var(--font-size-3);
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.1944444478px;
    text-align: center;
    color: var(--color-1);
  }
}